<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyphenate.easeui">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity" android:screenOrientation="portrait"/>

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1167161208115942#bottle" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
